.formbottom{
    margin: 25px;
    padding: 0px 50px;

}
label{
    font-size: large;
}
input{
    padding: 5px;
    margin-top: 5px;
    border:grey solid 1px;
}
.cornerarea{
    margin-top: 20px;
    padding:20px;
}
textarea{
    width: 100%;
}